@import "mixin";
@import "variables";
@import "./partials/header";
@import "./partials/animation";
@import "./partials/preloader";
@import "./partials/back_top";
@import "./partials/footer";
@import "./pages/home.scss";
@import "./pages/course-details.scss";
@import "./pages/about_us.scss";
@import "./pages/employment.scss";
@import "./pages/contact";
@import "./pages/success.scss";
@import "./pages/students";
@import "./partials/heading";
@import "./partials/button";
@import "./partials/mobile-menu";
@import "./partials/offcanvas";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}
html {
  scroll-behavior: smooth; }
a {
    text-decoration: none;
}
ul{
    padding: 0px;
    margin: 0px;
}
ul,
ol {
    list-style-type: none;
}
.text-right{
    text-align: right !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

