.btn_wrapper{
    a{
        font-family: $font-family;
        font-weight: 500;
        font-size: 16px;
        color:$white;
        background-color: #141417;
        @include border-radius(30px);
        padding: 12px 30px;
        @include transition(0.4s);
        span{
            margin-left: 5px;
            display: inline-block;
            width: 24px ;
            height: 24px;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            background-color: $white;
            color: #141417;
            @include border-radius(50%);
            i{
                @include transition(0.4s);
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
            }
        }
        @include sm{
            font-size: 12px;
            padding: 10px 13px;
            span{
                width: 20px;
                height: 20px;
                font-size: 10px;
                line-height: 20px;
            }
        }
    }
        &:hover{
            a{
                background-color: $primary;
                span{
                    i{
                        transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                    }
                }
            }
        }
        &.style_1{
            a{
                background-color: #3c3865;
                &:hover{
                    background-color: $primary;
                }
            }
        }
        &.style_2{
            a{
                background: linear-gradient(180deg, #0ebef6 0%, #3171fb 100%);
                @include transition(0.5s);
                &:hover{
                    background: linear-gradient(180deg, #0ebef6 0%, #3171fb 10%);
                }
            }
        }
    }