.footer{
    background: $gray9;
    padding: 0px 20px;
    @include flex(column, flex-end, center);
    height: 553px;
    position: relative;
    .container-xl{
        position: relative;

    }
    .vector1{
        position: absolute;
        bottom: 83px;
        left: 0px;
        pointer-events: none;
    }
    .vector2{
        position: absolute;
        bottom: 66px;
        right: 0px;
        pointer-events: none;
    }
    .ovely_content{
        position: absolute;

        top: -455px;
        width: 100%;
        left: 50%;
        @include transformX(-50%);
        border-radius: 20px;
        background: linear-gradient(to bottom, #007bff, #00c6ff);
        padding: 64px 50px 91px 100px;
        overflow: hidden;
        .shape1{
            position: absolute;
            bottom: 0px;
            right: 0px;
            pointer-events: none;
        }
        .shape2{
            position: absolute;
            top: 0px;
            right: 24%;
            @include transformX(-40%);
            pointer-events: none;
        }
        .shape4{
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none;
        }
        .shape3{
            position: absolute;
            bottom: 2px;
            left: 1px;
            pointer-events: none;
        }
    }
    .category{
        ul{
            @include flex(row, flex-start, center);
            gap: 17px;
            padding: 13px 15px;
            border: 1px solid rgba(193, 193, 193, 0.6);
            border-radius: 5px;
            max-width: 647px;
            width: 100%;
            background: rgba(255, 255, 255, 0.05);
            li{
                a{
                    font-weight: 600;
                    font-size: 16px;
                    letter-spacing: 0.01em;
                    color: $white;
                    @include transition(0.4s);
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    @include sm{
        padding: 0px 10px;
    }
        .footer_area_quick_menu{
            @include flex(row, space-between, flex-start);
            flex-wrap: wrap;
            @include sm{
                gap: 40px;
            }
            @include md{
                gap: 40px 0px;
            }
            @include nesthub{
                gap: 40px 0px;
            }
             .footer_logo{
                 a{
                     width: fit-content;
                     height: fit-content;
                     display: block;
                     cursor: pointer !important;
                     margin-bottom: 20px;
                     img{
                       width: fit-content;
                       height: 100%;
                       object-fit: contain;
                       z-index: 100;
                       cursor: pointer;
                        }
                            }
                        }
                        .describtion{
                            p{
                                font-weight: 400;
                                font-size: 18px;
                                color: $white;
                                opacity: 0.8;
                            }
                        }
            
            .quicklink{
                height: 100%;
                .header-wrap{
                    @include flex(row, flex-end, center);
                    @include sm{
                        justify-content: center;
                    }
                }
            ul{
                margin: 0px;
                padding: 0px;
                gap: 20px;
                li{
                    a{
                        font-weight: 400;
                        font-size: 18px;
                        letter-spacing: -0.01em;
                        padding: 10px 7px;
                        text-transform: capitalize;
                        color: $white;
                        @include transition(0.4s);
                    }
                    &:hover a{
                        color: $primary;
                    }
                    &.menu-item-has-children{
                        &::after{
                            color: $white !important;
                        }
                        &:hover{
                            &::after{
                                color: $primary !important;
                            }

                        }
                        a{
                            padding-right: 22px;
                        }
                        ul{
                            li{
                                a{
                                    &:hover{
                                        color: $white !important;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
            
                h3{
                    
                    font-weight: 600;
                    font-size: 20px;
                    letter-spacing: -0.02em;
                    color: $white;
                    text-align: left;
                    
                }
                p{
                    
                    font-weight: 500;
                    font-size: 16px;
                    // line-height: 275%;
                    margin-top: 21px;
                    color: $gray9;
                }
                form{
                   border: 1px solid #ffffff24;
                   margin-top: 25px;
                    @include flex(row, space-between, center);
                    width: 100%;
                    height: 50px;
                    input{
                        width: 65%;
                        padding: 20px;
                     border: none;
                     outline: none;
                     background-color: transparent;
                     color: $white;
                     &::placeholder{
                        color: $white;
                        font-weight:100;
                     }
                     
                }
                button{
                    width: 124px;
                    height: 40px;
                    background-color: $primary;
                    text-align: center;
                    line-height: 40px;
                    border: none;
                    color: $white;
                    margin-right: 5px;
                    
                    font-weight: 500;
                    font-size: 15px;
                    &:hover{
                        background-color: #5d85e1;
                    }
                }
                }
                .social_media ul{
               margin: 0px;
               margin-top: 39px;
               padding: 0px;
               @include flex(row, flex-start, center);
               gap: 10px;
               li{
                   a{
                       width: fit-content;
                       @include border-radius(50%);
                       width:40px;
                       height: 40px;
                       border: 1px solid #ffffff24;
                       color: $white;
                       display: block;
                       text-align: center;
                       line-height: 40px;
                       @include transition(0.4s);
                       &:hover{
                           background-color: $primary;
                           border: 1px solid transparent;
                           color: $white;
                       }
                   }
                        }

                       
            }
            }
            
        }
        .social_area{
            ul{
                @include flex(row, flex-start, center);
                gap: 12px;
                li{
                    a{
                        display: inline-block;
                        width:36px;
                        height: 36px;
                        line-height: 36px;
                        @include border-radius(50%);
                        text-align: center;
                        border: 1px solid #47425f;
                        color:  $primary;
                        @include transition(0.4s);

                        &:hover{
                            background-color: $primary;
                            color: $white;
                            border: 1px solid transparent;
                        }
                    }
                }
            }
        }

        .footer_last{
            &.style_1{
                p{
                    color: $white;
                    opacity: 1 !important;
                }
                a{
                    opacity: 1 !important;
                }
            }
            p{
                
                opacity: 0.8;
                font-weight: 400;
                font-size: 18px;
                color: $white;
            }
            @include nesthub{ 
                margin-top: -17px;
            }
            @include sm{
                margin-top: -32px;
                justify-content: flex-start;
                gap: 10px;
            }
            padding-bottom: 20px;
            padding-top: 20px;
            @include md {
                .footer_last_menu{
                    gap:20px;
                    ul{
                        justify-content: flex-start !important;
                        padding: 0;
                        margin-top: 10px;
                    }
                }
            }
            min-height: 44px;
            @include flex(row, space-between, flex-end);
            flex-wrap: wrap;
            border-top: 1px solid #ffffff1a;
            width: 100%;
            a{
                
                font-weight: 400;
                font-size: 18px;
                color: $white;
                opacity: 0.8;
                @include transition(0.4s);
                &:hover{
                    color: $primary !important;
                    opacity: 1;
                }
            }
            .footer_last_menu{
                @include sm{
                    margin-bottom: -10px;
                }
                ul{
                    @include flex(row, flex-end, flex-end);
                    margin: 0px;
                    @include sm{
                        justify-content: flex-start;
                        padding: 0;
                    }
                    li{
                        text-align: left;
                        width: 100%;
                        @include sm{
                            padding: 0;
                            &:nth-child(1){
                                padding-right: 20px;
                            }
                            &:nth-child(2){
                                padding-left: 20px;
                            }
                        }
                        padding: 0px 20px;
                        &:nth-child(1){
                            border-right: 1px solid $gray2;
                        }
                        width: fit-content !important;
                        a{
                
                font-weight: 400;
                font-size: 18px;
                color: $white;
                opacity: 0.8;
                @include transition(0.4s);
                &:hover{
                    color: $primary !important;
                    opacity: 1;
                }
            }
                    }
                }
            }
        }
        .footer_last_area{
            background-color: $primary;
        }
    
}