/*--Inner hero Start--*/
.inner_hero{
    overflow: hidden;
    width: 100%;
    height: 370px;
    @include sm{
        height: 143px;
    }
    @include flex(row, center, flex-end);
    background-color: $gray1;
    position: relative;
    .vector{
        position: absolute;
        bottom: 0px;
        // left: 50%;
        @include transformX(-30%);
        pointer-events: none;
        width: 100%;
        left: 30%;
        // bottom: 60px;
        height: 320px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
        @include nesthubmax{
            width: 100%;
            left: 30%;
            bottom: 60px;
            height: 220px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
        @include nesthub{
            width: 100%;
            left: 30%;
            bottom: 60px;
            height: 220px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
        @include md{
            width: 100%;
            left: 30%;
            bottom: 60px;
            height: 220px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
        @include sm{
            width: 100%;
            left: 30%;
            bottom: 30px;
            height: 92px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }
    .hero_menu_item{
        @include flex(row, center, flex-end);
        ul{
            @include flex(row, flex-start, center);
            gap: 10px;
            border-radius: 5px 5px 0 0;
            padding: 14px 23px;
            @include sm{
                padding: 5px 10px;
            }
            width: fit-content;
            background: linear-gradient(90deg, #2981fa 0%, #18a7f7 100%);
            li{
                a{
                    font-weight: 600;
                    font-size: 18px;
                    @include sm{
                        font-size: 14px;
                    }
                    color: $white;
                    span{
                        margin-right: 12px;
                    }
                }
                &:nth-child(2){
                    position: relative;
                    padding-left: 15px;
                    &::after{
                        content: "";
                        width: 5px;
                        height: 5px;
                        @include border-radius(50%);
                        background-color: $white;
                        position: absolute;
                        top: 50%;
                        @include transformY(-50%);
                        left: 0px;
                    }
                }
            }
        }
    }
}
/*--Inner hero End--*/
/*--Funder Story Start--*/
.funder_story{
    overflow: hidden;
    background: linear-gradient(90deg, #262262 0%, #4e45c8 100%);
    position: relative;
    // @include nesthubmax{
    //     .container-xl{ 
    //         justify-content: flex-start !important;
    //     }
    // }
    @include nesthub{
        padding: 65px 0px 60px 0px;
        .container-xl{ 
            justify-content: flex-start !important;
        }
    }
    @include md{
        padding: 40px 24px;
        .container-xl{ 
            padding: 0px !important;
            justify-content: flex-start !important;
        }
    }
    @include sm{
        padding: 40px 24px;
        .container-xl{
            padding: 0px;
        }
    }
    .header_area{
        padding-left: 153px;
        @include nesthubmax{
            padding-left: 0px !important;
        }
        @include nesthub{
            padding-left: 0px !important;
        }
        @include md{
            padding-left: 0px !important;
        }
        @include sm{
            padding-left: 0px;
        }
    }
    .title{
        h4{
            font-weight: 600;
            font-size: 18px;
            color: $white;
            @include sm{
                font-size: 16px;
            }
        }
    }
    .about_list{
        ul{
            li{
                font-size: 8px;
            }
        }
    }
    .funder_story_wrapper{
        position: relative;
        width: 100%;
        height: 754px;
        @include nesthubmax{
            height: 480px;
        }
        @include nesthub{
            width: 100%;
            height: 425px;
            // margin-top: 30px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @include md{
            width: 100%;
            height: 625px;
            margin-top: 30px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @include sm{
            width: 100%;
            height: 299px;
            margin-top: 30px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .funder_card_wrapper{
        border: 1px solid rgba(193, 193, 193, 0.2);
        border-radius: 0 20px 0 0;
        background: #f9faff;
        padding: 42px 0px;
        @include nesthub{
            padding: 30px 0px;
        }
        @include nesthub{
            padding: 20px 0px;
        }
        @include sm{
            padding: 20px 0px;
        }
        position: absolute;
        @include flex(row, center, center);
        bottom: 0px;
        left: 0px;
        .funder_card{
            padding: 0px 80px;
            @include nesthubmax{
                padding: 0px 45px;
            }
            @include nesthub{
                padding: 0px 30px;
            }
            @include sm{
                padding: 0px 30px;
            }
            &.style_1{
                border-right: 1px solid $gray9;
            }
            h4{
                font-weight: 600;
                font-size: 40px;
                @include sm{
                    font-size:16px ;
                }
                color: #000;
            }
            p{
                font-weight: 600;
                font-size: 18px;
                @include sm{
                    font-size: 8px;
                }
                color: #000;
            }
        }
    }
    .founder_image_area{
        @include sm{
            @include flex(row, center, center);
        }
    }
    
    
}
/*--Funder Story End--*/

/*--Our Best Instructor Start--*/
.our_instructor{
    .instructor_image_area{
        width: 600px;
        height: 662px;
        @include nesthubmax{
            width: 100%;
            height: 600px;
            justify-content: flex-start;
            padding-left: 22px;
        }
        @include nesthub{
            width: 100%;
            height: 600px;
            justify-content: flex-start;
            padding-left: 22px;
        }
        @include md{
            margin-top: 40px;
            justify-content: center !important;
        }
        @include sm{
            width: 100%;
            height: 377px;
            margin-top: 20px
        }
        @include flex(row, center, center);
        .instructor_img{
            border-radius: 20px;
            width: 511px;
            height: 574px;
            @include nesthubmax{
                border-radius: 11px;
                width: 417px;
        height: 509px;
    
            }
            @include nesthub{
                border-radius: 11px;
                width: 324px;
                 height: 364px;
    
            }
            @include sm{
                border-radius: 11px;
                width: 291px;
                height: 327px;
            }
            background-color: $gray1;
            position: relative;
            z-index: 30;
            &::after{
                content: "";
                position: absolute;
                z-index: -1;
                top: -44px;
                right: -44px;
                @include sm{
                    top: -25px;
                    right: -25px;
                }
                width: 100%;
                height: 100%;
                border: 1px solid $gray2;
                @include border-radius(20px);
            }
            &::before{
                content: "";
                position: absolute;
                bottom: -44px;
                left: -44px;
                 @include sm{
                    bottom: -25px;
                    left: -25px;
                }
                width: 100%;
                z-index: -1;
                height: 100%;
                background-color: $primary;
                @include border-radius(20px);
            }
            .image{
                width: 100%;
                height: 100%;
                background-color: $gray1;
                @include border-radius(20px);
                @include nesthub{
                    @include flex(row, center, center);
                }
            }
            img{
                width: 100%;
                height: 521px;
                @include nesthubmax{
                    height: 450px;
                }
                @include nesthub{
                    width: 198px;
                    height: 297px;
                }
                @include sm{
                    width: 198px;
                    height: 297px;
                }
                object-fit: contain;
                position: absolute;
                bottom: 0px;
            }
        }
    }
    .describtion {
        @include sm{
            margin-top: 16px !important;
        }
    }
    .title{
        @include sm{
            margin-top: 20px !important;
        }
        h4{
            font-weight: 700;
            font-size: 24px;
            @include sm{
                font-size: 16px;
            }
            color: $gray9;
        }
    }
    .social_area{
            ul{
                @include flex(row, flex-start, center);
                gap: 12px;
                li{
                    a{
                        display: inline-block;
                        width:40px;
                        height: 40px;
                        line-height: 40px;
                        @include border-radius(5px);
                        font-weight: 400;
                        font-size: 16px;
                        text-align: center;
                        border: 1px solid $gray2;
                        color:  $gray8;
                        font-family: $third-family;
                        @include transition(0.4s);

                        &:hover{
                            background: linear-gradient(90deg, #2981fa 0%, #18a7f7 100%);
                            color: $white;
                            border: 1px solid transparent;
                        }
                    }
                }
            }
        }
}
/*--Our Best Instructor End--*/

/*--Our Vision Start--*/
.our_vision_area{
    height: fit-content;
    overflow: hidden;
    position: relative;
    @include md{
        height: 900px;
        margin-top: 68px;
        @include flex(row, center, flex-end);
        width: 100%;
    }
    @include sm{
        height: 865px;
        margin-top: 48px;
        @include flex(row, center, flex-end);
        width: 100%;
    }
}
.our_vision{
    background-image: url(../images/about_page/our_vision/vision_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1239px !important;
    @include nesthubmax{
        height: 1000px !important;
    }
    @include nesthub{
        height: 928px !important;
    }
    @include md{
        width: 100%;
        height: 377px !important;
    }
    @include sm{
        width: 100%;
        height: 377px !important;
    }
    .our_vision_wrapper{
        height: 100%;
        @include flex(row, flex-start, flex-end);
        @include md{
            position: absolute;
            top: -376px ;
            left: 0px;
            width: 100% !important;
        }
        @include sm{
            position: absolute;
            top: -376px ;
            left: 0px;
            width: 100% !important;
        }
        
    }
    .left-arrow{
        border-radius: 50%;
        border: 1px solid $gray2;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        display: block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: $white;
        position: absolute;
        right: 110px;
        bottom: 30px;
        z-index: 10;
        cursor: pointer;
        @include transition(0.4s);
        @include sm{
            width: 40px;
            height: 40px;
            bottom: 40px;
            line-height: 40px;
            left: 24px !important;
        }
        &:hover{
            background: linear-gradient(90deg, #262262 0%, #4e45c8 100%);
            color: $white;
            border: 1px solid transparent;
        }
    }
    .right-arrow{
        border: 1px solid $gray2;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
        display: block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: $white;
        position: absolute;
        right: 30px;
        bottom: 30px;
        z-index: 10;
        @include transition(0.4s);
        @include sm{
            width: 40px;
            height: 40px;
            line-height: 40px;
            bottom: 40px;
            left: 76px !important;
        }
        &:hover{
            background: linear-gradient(90deg, #262262 0%, #4e45c8 100%);
            border: 1px solid transparent;
            color: $white;
        }
    }
    .vision_content{
        width: 62%;
        padding: 150px 80px 150px 260px;
        background: linear-gradient(90deg, #2981fa 0%, #18a7f7 100%);
        border-radius: 0 20px 0 0;
        position: relative;
        @include nesthubmax{
            // width: 70%;
            // min-height: 471px;
            padding: 70px 10px 104px 10px;
        }
        @include nesthub{
            width: 70%;
            min-height: 471px;
            padding: 70px 10px 104px 10px;
        }
        @include md{
            width: 100%;
            min-height: 471px;
            @include border-radius(0px);
            padding: 70px 10px 104px 10px;
        }
        @include sm{
            width: 100%;
            min-height: 471px;
            @include border-radius(0px);
            padding: 40px 10px 104px 10px;
        }
    }
    .slick-slide{
        margin: 0px 10px;
    }
    .sub_heading{
        h4{
            img{
                display: inline-block;
            }
        }
    }
    .list_area_slider{
        .card_list{
            padding-top: 33px;
            border-top: 1px solid $white;
            @include sm{
                padding-top: 0px;
                border-top: none;
            }
            ul{
                
                li{
                    margin-bottom: 20px;

                    &:last-child{
                        margin-bottom: 0px;
                    }
                    font-weight: 600;
                    font-size: 18px;
                    @include sm{
                        font-size: 14px;
                        margin-bottom: 14px;
                    }
                    color: $white;
                    span{
                        margin-right: 16px;
                        font-weight: 400;
                        @include sm{
                            margin-right: 4px;
                        }
                    }
                }
            }
             
            
        }
    }
}
/*--Our Vision End--*/
