/*---Trusted By Leaders Start---*/
.trusted_leaders{
    overflow: hidden;
    background-color: $gray9;
    height: 90vh;
    @include nesthub{
        padding-bottom: 30px;
    }
    @include md{
        height: 937px !important;
    }
    @include flex(row, center, center);
    
    @include sm{
        padding: 10px 10px 10px 10px;
        // height: 678px !important;
        height: 100vh !important;
    }
    @include nesthubmax{
        .describtion{
            p{
                padding-right: 109px;
            }
        }
        .header_area{
            h1{
                padding-right: 100px;
            }
        }
    }
    @include nesthub{
        .describtion{
            padding-right: 50px;
        }
    }
    .trusted_wrapper{
        @include nesthub{
        margin-top: 30px;
    }
        height: 640px;
        position: relative;
        background: #2e2b4f;
        padding: 102px 0px 110px 97px;
        @include border-radius(10px);
        @include nesthubmax{
            border-radius: 0 0 10px 0;
            width: 100%;
            margin-top: -8px;
            padding: 70px 15px 60px 15px;
        }
        @include nesthub{
            border-radius: 0 0 10px 0;
            width: 100%;
            height: 500px;
            margin-top: 30px;
            padding: 80px 15px 30px 15px;
        }
        @include md{
            border-radius: 0 0 10px 0;
            width: 100%;
            height: 872px;
            padding: 30px;
        }
        @include sm{
            border-radius: 0 0 10px 0;
            width: 100%;
            height: 610px;
            padding: 15px;
        }
    }
    .btn_area{
        @include flex(row, flex-start, center);
        gap: 20px;
        @include md{
            margin-top: 40px !important;
        }

    }
    .trusted_image_area{
        width: 727px;
        position: absolute;
        height: 579px;
        bottom: 0px;
        right: 0px;
        @include nesthub{
            width: 500px;
            height: fit-content;
            bottom: 0px;
            img{
                max-width: 100%;
                width: 100%;
                height: fit-content;
                object-fit: cover !important;
            }
        }
        @include md{
            width: 100%;
            height: 600px;
            bottom: 0px;
            img{
                max-width: 100%;
                width: 100%;
                object-fit: cover !important;
            }
        }
        @include sm{
            width: 329px;
        height: 342px;
            img{
                max-width: 100%;
                width: 100%;
                height: fit-content;
                object-fit: cover !important;
            }
            bottom: 0px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include border-radius(0px 0px 20px 0px);
        }
    }
    .bg_gradient{
        // display: none;
        background:linear-gradient(134deg, #12b4f6 0%, #3074fb 100%);;
        filter: blur(133px);
        width: 259px;
        height: 373px;
        margin-top: 50px;
        @include md{
            margin-left: 330px;
        }
        @include sm{
            margin-left: 100px;
            width: 163px;
            height: 133px;
            background: linear-gradient(134deg, #12b4f6 0%, #3074fb 100%);
            filter: blur(59.547706604003906px);
        }
    }
    .social_area{
        border-radius: 5px;
        background-color: $gray9;
        padding: 20px;
        position: absolute;
        top: 43%;
        @include transformY(-50%);
        right: 8%;
        max-width: 170px;
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: 14px;
        @include nesthub{
            top: 45%;
            right: 3%;
        }
        @include md{
            top: 56%;
            right: 18%;
        }
        @include sm{
            max-width: 90px;
            padding: 10px;
            gap: 7px;
            top: 65%;
            right: 11%;
        }
        span{
            width: 34px;
            display: block;
            height: 34px;
            line-height: 34px;
            @include sm{
                width: 18px;
                height: 18px;
                line-height: 18px;
                img{
                    width: 10px;
                    height: 10px;

                }
            }
            text-align: center;
            @include border-radius(5px);
            background-color: $white;
            
        }
    }
}
/*---Trusted By Leaders End---*/

/*---The Problem Start---*/
.the_problem{
    @include sm{
        margin-top: 38px !important;
    }
    .problem_images{
        position: relative;
        // @include nesthub{
        //     background-color: green;

        // }
        @include md{
            margin-top: 100px;
        }
        @include sm{
            margin-top: 50px;
            @include flex(row, center, center);
        }
        width: 100%;
        .problem_main_img{
            width: 664px;
            height: 476px;
            position: relative;
            @media (min-width:120px) and (max-width:1400px){
                max-width: 100%;
                width: 100%;
                height: 391px;

            }
            @include nesthubmax{
                max-width: 100%;
                width: 100%;
                height: 391px;

            }
            @include nesthub{
                max-width: 100%;
                width: 100%;
                height: 345px;

            }
            @include md{
                // max-width: 342px;
                width: 100%;
                height: 527px;

            }
            @include sm{
                max-width: 342px;
                width: 100%;
                height: 245px;

            }
            @include border-radius(20px);
            img{
                width: 100%;
                height: 100%;
                @include border-radius(20px);
                object-fit: cover;
            }
        }
        .problem_child_img{
            position: absolute;
            top: -57px;
            right: 0px;
            @include sm{
                top: -28px;
                right: 0px;
            }
            border-radius: 20px;
            width: 210px;
            height: 182px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include border-radius(20px);
            }
            @include nesthubmax{
                width: 169px;
                height: 165px;
            }
            @include nesthub{
                width: 169px;
                height: 165px;
            }
            @include sm{
                width: 108px;
                height: 93px;
}
        }
        .graduatesplaced{
            max-width: 300px;
            @include border-radius(10px);
            padding: 20px 20px 20px 30px;
            box-shadow: 0 20px 40px 0 rgba(23, 22, 28, 0.2);
            background: $white;
            position: absolute;
            animation: up-down 2s ease-in-out infinite alternate;
    -webkit-animation: up-down 2s ease-in-out infinite alternate;
            top: -57px;
            @include sm{
                padding: 10px 15px;
                margin-top: -6px;
                top: -23px;
            }
            
            left: 0px;
            span{
                border: 2px solid $white;
                border-radius: 38px;
                width: 40px;
                height: 40px;
                display: inline-block;
                @include sm{
                    width: 20px;
                    height: 20px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
            h4{
                font-weight: 400;
                font-size: 18px;
                color: $gray8;
                @include sm{
                    font-size: 9px;
                }
                span{
                    font-weight: 700;
                    font-size: 24px;
                    margin-right: 20px;
                    @include sm{
                        font-size: 12px;
                        margin-right: 20px;
                    }
                    color: $primary;
                }
            }
        }
        .graduate_profile{
            position: relative;
            span{
                &:nth-child(2){
                    position: absolute;
                    left: 28px;
                    @include sm{
                        left: 15px;
                    }
                }
                &:nth-child(3){
                    position: absolute;
                    left: 58px;
                    @include sm{
                        left: 30px;
                    }
                }
                &:nth-child(4){
                    position: absolute;
                    left: 88px;
                    @include sm{
                        left: 45px;
                    }
                }
                &:nth-child(5){
                    position: absolute;
                    left: 118px;
                    @include sm{
                        left: 60px;
                    }
                }
                &:nth-child(6){
                    position: absolute;
                    left: 148px;
                    @include sm{
                        left: 76px;
                    }
                }
                    
            }
        }
    }
    // .header_area{
    //     @include md{
    //         margin-top: 34px;
    //     }
    //     @include sm{
    //         margin-top: 24px;
            
    //     }
    // }
    .describtion_highlight{
        padding: 20px 30px;
        @include border-radius(10px);
        border: 1px solid #ececec;
        background-color: $gray1;
        @include sm{
            padding: 10px 20px;
        }
        p{
            font-weight: 400;
            font-size: 18px;
            @include sm{
                font-size: 10px;
            }
            color: $gray9;
            padding-left: 20px;
            border-left: 2px solid $primary;
        }
    }
}
/*---The Problem End---*/

/*---Who We Are Start---*/
.who_we{
    @include sm{
        margin-top: 35px !important;
    }
    
    .about_list{
        ul{
            li{
                @include flex(row, flex-start, flex-start);
                gap: 10px;
                font-weight: 600;
                font-size: 18px;
                color:  $gray9;

                @include sm{
                    font-size: 14px;
                    img{
                        width: 20px;
                        height: 15px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                p{
                    font-weight: 600;
                    font-size: 18px;
                    color:  $gray9;

              

                @include sm{
                    font-size: 14px;
                    font-weight: 500;
                }
                @include md{
                    font-size: 14px;
                }
                @include nesthub{
                    font-size: 14px;
                }
                @include nesthubmax{
                    font-size: 16px;
                }
                }
                margin-bottom: 17px;
                @include sm{
                    margin-bottom: 5px;
                }
                
            }
        }
    }
    .who_we_images{
        @include md{
            margin-top: 17px;
        }
        @include sm{
            margin-top: 14px;
        }
        @include flex(row, flex-end, flex-end);
        &.style_1{
            justify-content: center;
            position: relative;
            .who_main_image{
                height: 539px !important;
                width: 516px !important;
                @include sm{
                    border-radius: 11px;
                    width: 277px !important;
                    height: 289px !important;
                }
            }
            .objects{
                border: 1px solid rgba(193, 193, 193, 0.2);
                border-radius: 20px;
                padding: 30px;
                background: #f9faff;
                position: absolute;
               animation: up-down1 2s ease-in-out infinite alternate;
    -webkit-animation: up-down1 2s ease-in-out infinite alternate;
                bottom: 53px;
                right: 0px;
                @include sm{
                    padding: 15px;
                    bottom: 28px;
                    img{
                        width: 117px;
                        height: 134px;
                        object-fit: contain;
                    }
                }
            }
        }
        position: relative;
        .who_main_image{
            width: 407px;
            height: 407px;
            @include border-radius(20px);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include border-radius(20px);
            }
            @include sm{
                width: 202px;
                height: 202px;

            }
        }
        .child_image{
            @include sm{
               width: 173px;
               height: 173px;
               img{
                width: 100%;
                height: 100%;
                object-fit: cover;
               }
            }
            position: absolute;
            bottom: 0px;
            left: 0px;

        }
    }
}
/*---Who We Are End---*/
 
/*---The Plan Start---*/
.the_plan{
    @include sm{
        margin-top: 38px !important;
    }
    .certification-process {
        border: 1px solid $gray2;
        @include border-radius(14px);
        padding: 0px;
        .process-steps-container { 
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 0px;
                left: 41px;
                @include sm{
                    left: 15px;
                }
                width: 1px;
                height: 100%;
                background-color: $gray2;
            }
        }
        
        .process-step {
            &.style_1{
                    @include border-radius(14px 14px 0px 0px);
                }
            &.style_2{
                    @include border-radius(14px 14px 0px 0px);
                }
            border-radius: 0; 
            margin-bottom: 0; 
            overflow: hidden;
            background-color: #fff;
        
            &.active {
                .step-header {
                    background-color: $white;
                }
            }
        
            .step-header {
               
                display: flex;
                align-items: center;
                padding: 15px 20px;
                @include sm{
                    padding: 15px;
                }
                border-bottom: 1px solid $gray2;
                cursor: pointer;
                background-color: #fff;
                transition: background-color 0.3s ease;
        
                .step-number {
                    font-weight: 700;
                z-index: 2;
                    font-size: 18px;
                    color: $gray8;
                    letter-spacing: 0.01em;
                    text-align: center;
                    width: 44px;
                    height: 44px;
                    line-height: 44px;
                    @include sm{
                        font-size: 12px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                    }
                    @include border-radius(50%);
                    border: 1px solid $gray2;
                    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
                    background: #f3f9ff;
                }
        
                .step-title {
                    margin: 0;
                    flex-grow: 1;
                    font-weight: 500;
                    font-size: 24px;
                    text-transform: capitalize;
                    color: #141417;
                    margin-left: 16px;
                    @include sm{
                        font-size: 16px;
                    }
                }
        
            }
        
            .step-content {
                padding: 42px 42px 42px 84px;
                @include sm{
                    padding:20px 20px 20px 37px;
                }
                border-bottom: 1px solid $gray2;
                .content-box {
                    padding: 60px 100px;
                    background-color: #f3f9ff;
                    border: 1px solid $gray2;
                    border-radius: 14px;
                    @include flex(row, flex-start, center);
                    gap: 125px;
                    @include nesthub{
                        padding: 30px !important;
                        gap: 60px !important;
                    }
                    @include nesthub{
                        padding: 20px !important;
                        gap: 30px !important;
                    }
                    @include md{
                        padding: 30px;
                        gap: 14px;
                        flex-direction: column;
                    }
                    @include sm{
                        padding: 0px;
                        gap: 14px;
                        background-color:transparent ;
                        border: 1px solid transparent;
                    }
                    
                    @media (max-width: 600px) {
                        flex-direction: column; 
                    }
                    
                    .image-placeholder {
                        @include md{
                            width: 100%;
                            max-width: 370px;
    
                        }
                        @include sm{
                            padding: 30px;
                            background-color: #f3f9ff;
                            @include border-radius(20px);
                            border: 1px solid $gray2;
    
                        }
                        
                        flex-shrink: 0; 
                        width: 40%; 
                        max-width: 250px; 
        
                        img {
                            width: 100%;
                            height: auto;
                            display: block; 
                        }
        
                        @media (max-width: 600px) {
                            width: 100%;
                            max-width: none; 
                        }
                    }
        
                    .text-content {
                        flex-grow: 1;
        
                        .step-heading {
                            font-weight: 500;
                            font-size: 16px;
                            letter-spacing: 0.01em;
                            border: 1px solid $gray2;
                            border-radius: 4px;
                            padding: 4px 16px;
                            box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
                            background: $white;
                            color: $gray9;
                            @include sm{
                                margin-top: 3px;
                                font-size: 10px;
                            }
                            display: inline-block;
                        }
        
                        h4 {
                            font-weight: 500;
                            font-size: 24px;
                            @include sm{
                                font-size: 16px;
                            }
                            color: #141417;
                            margin-top: 18px;
                        }
        
                        p {
                            font-weight: 400;
                            font-size: 18px;
                            color: $gray8;
                            margin-top: 16px;
                            @include sm{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        
        
          
        }
        .icon_arrow{
            width: 40px;
            height: 40px;
            line-height: 40px;
            border: 1px solid $gray2;
            background-color: #f3f9ff;
            box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
            text-align: center;
            display: inline-block;
            color: #141417;
            i{
                @include transition(0.4s);
            }
            @include border-radius(50%)
            
        }
    }
    .btn_wrapper{
        @include sm{
            margin-top: 23px;

        }
    }

}
/*---The Plan End---*/

/*---For Business Owners Start---*/
.business_owners{
    @include sm{
        margin-top: 36px !important;
        .heading{
            h2{
                font-weight: 700 !important;
            }
        }
    }
    overflow: hidden;
    .business_card{
        max-width: 610px;
        border: 1px solid $gray2;
        border-radius: 5px;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
        background:  $white;
        padding: 55px 46px 55px 100px;
        margin-left: 41px;
        position: relative;
        @include nesthubmax{
            padding: 40px 0px 40px 63px;
            margin-left: 40px;
            max-width: 100%;
        }
        @include nesthub{
            padding: 40px 0px 40px 63px;
            margin-left: 40px;
            max-width: 100%;
        }
        @include md{
            padding: 40px 20px 40px 53px;
            margin-left: 40px;
            max-width: 550px;
        }
        @include sm{
            padding: 20px 13px 20px 43px;
            margin-left: 20px;
        }
        .icon{
            position: absolute;
            top: 50%;
            @include transformY(-50%);
            left: -41px;
            @include sm{
                margin-left: 20px;
            }
            span{
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                background: linear-gradient(90deg, #2981fa 0%, #18a7f7 100%);
                @include border-radius(5px);
                display: inline-block;
                @include nesthubmax{
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    img{
                        width: 40px;
                        height: 40px;

                    }
                }
                @include nesthub{
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    img{
                        width: 40px;
                        height: 40px;

                    }
                }
                @include md{
                    width: 78px;
                    height: 78px;
                    line-height: 78px;
                    img{
                        width: 60px;
                        height: 60px;

                    }
                }
                @include sm{
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    img{
                        width: 30px;
                        height: 30px;

                    }
                }
            }
        }
        h4{
            font-weight: 600;
            font-size: 24px;
            @include nesthub{
                font-size: 18px;
            }
            @include md{
                font-size: 18px;
            }
            @include sm{
                font-size: 14px;
                font-weight: 500;
            }
            color: #141417;
        }
    }
    .business_image{
        position: relative;
        @include flex(row, flex-start, flex-end);
        
        @include md{
            margin-top:120px;
        }
        @include sm{
            margin-top:71px ;
            margin-left: 10px;
        }
        .business_main_img{
            position: relative;
            width: 633px;
            @include border-radius(5px);
            height: 699px;
            &::after{
                content: "";
                @include border-radius(5px);
                width: 100%;
                height: 100%;
                border: 1px solid $primary;
                position: absolute;
                top: -45px;
                right: -48px;
                z-index: -1;
                @include nesthubmax{
                    top: -30px;
                    right: -30px;
                }
                @include nesthub{
                    top: -30px;
                    right: -30px;
                }
                @include md{
                    top: -30px;
                    right: -30px;
                }
                @include sm{
                    top: -20px;
                    right: -20px;
                }
            }
            .vector{
                width: 95px;
                height: 103px;
                position: absolute;
                top: -115px;
                right: -109px;
                @include nesthubmax{
                   width: 75px;
                    height: 83px;
                    top: -90px;
                    right: -82px;

                }
                @include nesthub{
                   width: 75px;
                    height: 83px;
                    top: -90px;
                    right: -82px;

                }
                @include md{
                   width: 75px;
                    height: 83px;
                    top: -90px;
                    right: -82px;

                }
                @include sm{
                    width: 43px;
                    height: 46px;
                    top: -52px;
                    right: -49px;

                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            @include nesthubmax{
                border-radius: 2px;
                width: 85%;
                height: 459px;
            }
            @include nesthub{
                border-radius: 2px;
                width: 85%;
                height: 459px;
            }
            @include md{
                border-radius: 2px;
                width: 533px;
                height: 599px;
            }
            @include sm{
                border-radius: 2px;
                width: 288px;
                height: 318px;
            }
            img{
                width: 100%;
                @include border-radius(5px);
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .btn_area{
        position: absolute;
        bottom: 53px;
        left: 30px;
        @include nesthubmax{
            bottom: 28px;
            left: 20px;
        }
        @include md{
            bottom: 28px;
            left: 20px;
        }
        @include sm{
            bottom: 18px;
            left: 10px;
        }
        a{
            font-weight: 400;
            font-size: 18px;
            padding: 24px 31px;
            @include nesthubmax{
                padding: 16px;
                font-size: 14px;
            }
            @include md{
                padding: 12px;
                font-size: 12px;
            }
            @include sm{
                padding: 12px;
                font-size: 12px;
            }
            color: $white;
            @include border-radius(5px);
            background: linear-gradient(90deg, #262262 0%, #4e45c8 100%);
            @include transition(0.4s);
            span{
                margin-left: 10px;
            }
            &:hover{
                color: $white;
                background: linear-gradient(90deg, #000000 0%, #000000 100%);
            }
        }
    }
}
/*---For Business Owners End---*/

/*---Clients Reviews Start---*/
.clients_reviews{
        padding-top: 100px;
    padding-bottom: 238px;
    @include nesthub{
        padding-top: 70px;
        padding-bottom:180px;
    }
    @include md{
        padding-top: 70px;
        padding-bottom:180px;
    }
    @include sm{
        margin-top: 40px !important;
    }
    overflow: hidden;
    .left-arrow{
        border-radius: 100px;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        box-shadow: 0 4px 20px 0 rgba(20, 20, 23, 0.2);
        background: $white;
        @include border-radius(50%);
        display: inline-block;
        position: absolute;
        top: 50%;
        left: -51px;
        z-index: 10;
        @include transformY(-50%);
        cursor: pointer;
        @include transition(0.4s);
        @include nesthubmax{
            width: 40px;
            height: 40px;
            line-height: 40px;
            left: 57px;
            font-size: 14px;
        }
        @include nesthub{
            width: 40px;
            height: 40px;
            line-height: 40px;
            left: 57px;
            font-size: 14px;
        }
        @include md{
            width: 40px;
            height: 40px;
            line-height: 40px;
            left: 50px;
            font-size: 14px;
        }
        @include sm{
            width: 30px;
            height: 30px;
            line-height: 30px;
            left: 10px;
            font-size: 14px;
        }
        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
    .right-arrow{
        border-radius: 100px;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        box-shadow: 0 4px 20px 0 rgba(20, 20, 23, 0.2);
        background: $white;
        @include border-radius(50%);
        @include nesthubmax{
            width: 40px;
            height: 40px;
            line-height: 40px;
            right: 57px;
            font-size: 14px;
        }
        @include nesthub{
            width: 40px;
            height: 40px;
            line-height: 40px;
            right: 57px;
            font-size: 14px;
        }
        @include md{
            width: 40px;
            height: 40px;
            line-height: 40px;
            right: 50px;
            font-size: 14px;
        }
        @include sm{
            width: 30px;
            height: 30px;
            line-height: 30px;
            right: 0px;
            font-size: 14px;
        }
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -51px;
        @include transformY(-50%);
        cursor: pointer;
        @include transition(0.4s);
        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
    .review_dots{
        @include flex(row, center, center);
        gap: 5px;
        z-index: 110;
        position: absolute;
        background: #3c3865;
        border-radius: 40px;
        width: 194px;
        height: 50px;
        bottom: -103px;
        left: 50%;
        @include transformX(-50%);
        @include sm{
            visibility: hidden;
            opacity: 0;
        }
        li{
            height: 100%;
            @include flex(row, center, center);
            margin: 0px 10px;
            
        }
        button{
            width: 6px;
            height: 6px;
            color: transparent;
            border: none;
            background-color: $white;
            @include transition(0.5s);
            @include border-radius(30px);
        }
        .slick-active{
            button{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform(-50%, -50%);
                    width: 26px;
                    height: 26px;
                    @include border-radius(50%);
                    border: 1px solid $gray2;
                }
            }
        }
    

}
    .slick-slide{
        margin: 0px 10px;
    }
    .heading{
        h2{
            padding-right: 30px;
        }
    }
    position: relative;
    svg{
        overflow: hidden;
        @include nesthubmax{
            width: 642px;
            height: 390px;
        }
        @include nesthub{
            width: 642px;
            height: 390px;
        }
        @include md{
            width: 642px;
            height: 307px;
        }
        @include sm{
            width: 342px;
            height: 161px;
            
        }
    }
    position: relative;
    // height: 770px !important;
    background-color: $gray9;
    @include sm{
        // height: 392px !important;
        padding-top: 40px;
        padding-bottom: 40px;
        background: linear-gradient(90deg, #262262 0%, #4e45c8 100%);
    }
    @include flex(row, center, center);
    .vector_area{
        position: absolute;
        bottom: 0px;
        left: 0px;
        pointer-events: none;
        @include md{
            display: none;
        }
        @include sm{
            display: none;
        }
    }
    .vector_two{
        position: absolute;
        top: 0px;
        right: 0px;
        pointer-events: none;
    }
    .clients_review_wrapper{
        position: relative;
        margin-top: 21px;
        @include md{
            margin-top: 44px;
        }
        @include flex(row, center, center);
    }
    .clients_review_slider{
        position: absolute;
        left: 50%;
        @include transformX(-50%);
        max-width: 770px;
        @include md{
            margin-left: 0px !important;
        }
        @include sm{
            max-width: 100% !important;
        }

    }
    .slick-slide{
        @media (max-width:1280px){
            @include flex(row, center, center);
        }
    }
    .review_card{
        padding: 64px 40px 63px 54px;
        border-radius: 40px;
        width: 760px;
        height: 410px;
        @include nesthubmax{
            border-radius: 16px;
            padding: 20px;
            width: 550px !important;
            height: 303px;
        }
        @include nesthub{
            border-radius: 16px;
            padding: 20px;
            width: 550px !important;
            height: 303px;
        }
        @include md{
            border-radius: 16px;
            padding: 30px;
            width: 550px !important;
            height: 307px;
        }
        @include sm{
            border-radius: 16px;
            padding: 16px 20px !important;
            width: 300px !important;
            height: 159px;
        }
        background: #2e2b4f;
        .star{
            padding: 7px 14px;
            border: 1px solid rgba(255, 255, 255, 0.14);
            border-radius: 6px;
            display: inline-block;
            span{
                color: #f7931a;
            }
            @include nesthub{
                margin-top: 10px;
            }
            @include sm{
                padding: 2px 5px !important;
                line-height: 11px !important;
                span{
                    font-size: 6px;
                    margin-top: -5px;
                }
            }
        }
        .describtion{
           @include sm{
             margin-top: 5px !important;
            p{
                font-weight: 400;
                font-size: 8px;
                color: $white;
                opacity: 0.8;
            }
           }
        }
    }
    .user_meta_info{
        @include flex(row, flex-start, center);
        gap: 37px;
        @include nesthub{
            margin-top: 30px;
        }
        @include md{
            gap: 30px;
            margin-top: 29px;
        }
        @include sm{
            gap: 13px;
            margin-top: 29px;
        }
        .profile{
            width: 74px;
            @include border-radius(50%);
            height: 74px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include border-radius(50%);
            }
            @include md{
                @include border-radius(50%);
                width: 50px;
                height: 50px;
            }
            @include sm{
                border-radius: 20px;
                width: 29px;
                height: 29px;
            }
        }
        .profile_area{
            position: relative;
        }
        .profile_icon{
            position: absolute;
            bottom: 10px;
            width: 40px;
            height: 40px;
            left: 60px;
            line-height: 40px;
            @include flex(row, center, center);
            text-align: center;
            @include border-radius(50%);
            border-left: 2px solid #2e2b4f;
            background-color: $white;

            img{
              width: 20px;
              height: 20px;
               object-fit: contain;
            }
            @include md{
                width: 35px;
                height: 35px;
                line-height: 35px;
                left: 34px;
                bottom: 0px;
                img{
                    width: 15px;
                    height: 15px;
                }
            }
            @include md{
                width: 30px;
                height: 30px;
                line-height: 30px;
                left: 34px;
                bottom: 0px;
                img{
                    width: 15px;
                    height: 15px;
                }
            }
            @include sm{
                width: 15px;
                height: 15px;
                line-height: 15px;
                left: 20px;
                bottom: 0px;
                img{
                    width: 7px;
                    height: 7px;
                }
            }

        }
        h5{
            font-weight: 500;
            font-size: 22px;
            color: $white;
            @include md{
                font-size: 18px;
            }
            @include sm{
                font-size: 8px;
            }
        }
        p{
            font-weight: 500;
            font-size: 16px;
            text-transform: capitalize;
            color: $white;
            @include md{
                font-size: 16px;
            }
            @include sm{
                font-size: 6px;
            }
        }
    }
}
/*---Clients Reviews End---*/

/*---The Certification Start---*/
.the_certification{
    @include sm{
        margin-top:37px !important;
    }
    .header_area{
        @include md{
            margin-top: 46px;
        }
        @include sm{
            margin-top: 30px;
        }
        .heading{
           @include sm{
             h2{
                padding-right: 30px;
                font-weight: 700;
            }
           }
        }
    }
    .list_certification{
        @include md{
            margin-top: 21px !important;
        }
        @include sm{
            margin-top: 21px !important;
        }
        ul{
            @include flex(row, space-between, center);
            flex-wrap: wrap;
            gap: 26px;
            @include md{
                gap: 18px;
                flex-direction: column;
                align-items: flex-start;
                li{
                    width: 100% !important;
                }
            }
            @include sm{
                gap: 18px;
            }
            margin: 0px;
            padding: 0px;
            li{
                width: calc(50% - 15px);
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.01em;
                color: $gray9;
                span{
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-right: 9px;
                    line-height: 24px;
                    text-align: center;
                    background-color: #141417;
                    @include border-radius(50%);
                    color: $white;
                    font-size: 12px;
                }
                @include nesthubmax{
                    width: 100% !important;
                }
                @include nesthub{
                    width: 100% !important;
                }
                @include sm{
                    width: 100%;
                    font-size: 14px;
                    span{
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .btn_wrapper{
        @include md{
            margin-top: 38px !important;
        }
        @include sm{
            margin-top: 38px !important;
        }
    }
    .certificate_image{
        @include flex(row, flex-end, center);
        @include md{
            justify-content: center;
        }
        @include sm{
            justify-content: center;
        }
        width: 100%;

    }
    .certification_image{
        width: 560px;
        height: 445px;
        overflow: hidden;
        @include sm{
           width: 342px;
           height: 271px;
        }
        position: relative;
        .certificate_one{
            width: 328px;
            height: 254px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            position: absolute;
            top: 51px;
            left: 0px;
            @include sm{
                width: 200px;
                height: 155px;
            }
        }
        .certificate_two{
            width: 337px;
            height: 255px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            position: absolute;
            bottom: 0px;
            right: 0px;
            @include sm{
                width: 205px;
                height: 155px;
            }
        }
        .batch{
            position: absolute;
            right: 127px;
            top: 20px;
            @include sm{
                width: 85px;
                right: 85px;
                top: 11px;
                height: 102px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .vector{
            position: absolute;
            left: 121px;
            top: 0px;
            z-index: -1;
            @include sm{
                width: 164px;
                height: 262px;
                left: 75px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
/*---The Certification End---*/

/*---verified_talent Start---*/
.verified_talent{
    @include sm{
        margin-top: 43px !important;
        .heading{
            h2{
                font-weight: 700 !important;
            }
        }
    }
    .row{
        &.style_1{
            @include sm{
            margin-top: 14px !important;
            }
        }
    }
    .talent_image{
        max-width: 675px;
        width: 100%;
        height: 601px;
        @include border-radius(20px);
        img{
            width: 100%;
            height: 100%;
            @include border-radius(20px);
            object-fit: cover;
        }
        @include sm{
            border-radius: 5px;
            @include border-radius(5px);
            max-width: 342px;
            width: 100%;
            height: 293px;
            img{
                @include border-radius(5px);

            }
        }
    }
    .btn_wrapper {
        @include md{
            margin: 40px 0px 40px 0px;
        }
        @include sm{
            margin: 30px 0px 36px 0px;
        }
    }
.accordion-container {
    width: 100%;
    background-color: #f3f9ff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

// --- Accordion Styles ---
.accordion-container {
    width: 100%;
    background-color: #f3f9ff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.accordion-item {
    border: 1px solid $gray2;
    border-radius: 14px;
    margin-bottom: 8px;
    overflow: hidden;
    @include transition(0.5s);

    &:last-child {
        margin-bottom: 0;
    }

    &.active {
        // background-color: $primary;
        background: linear-gradient(180deg, #0ebef6 0%, #3171fb 72.17%);
        border-color: $primary;
        padding-bottom: 20px;
        .talent_header {
            color: $white;
            .number {
                color: $white;
            }
        }
        .arrow-icon i {
            transform: rotate(180deg);
        }
        .talent_contains {
            height: auto;

            p {
                color: $white;
            }
        }
    }
}

.talent_header {
    display: flex;
    align-items: center;
    padding: 24px 40px;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    color: $gray8;
    cursor: pointer;
    user-select: none;
    @include transition(0.5s);

    .number {
        margin-right: 15px;
        font-weight: 600;
        font-size: 44px;
        color: $gray7;
        @include transition(0.5s);
    }

    .arrow-icon {
        margin-left: auto;
        color: $gray9;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        border-radius: 100%;
        background-color: $white;
        border: 1px solid $gray2;
        box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

        i {
            @include transition(0.4s);
            transform: rotate(0deg);
        }
    }

    @include sm {
        font-size: 14px;
        padding: 15px 20px;

        .number {
            font-size: 22px;
        }

        .arrow-icon {
            width: 20px;
            height: 20px;
            @include sm{
                font-size: 10px;
                line-height: 19px;
            }
            line-height: 18px;
        }
    }
}

.talent_contains {
    height: 0;
    overflow: hidden;
    padding: 0px 40px;
    transition: height 0.5s ease-out, padding 0.5s ease-out;
    -webkit-transition: height 0.5s ease-out, padding 0.5s ease-out;
    -moz-transition: height 0.5s ease-out, padding 0.5s ease-out;
    -ms-transition: height 0.5s ease-out, padding 0.5s ease-out;
    -o-transition: height 0.5s ease-out, padding 0.5s ease-out;
    p
{
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        color: $gray8;
    }
}
}
/*---verified_talent End---*/

/*---Text Slider Start---*/
.text_slider{
    background-color: $gray9;
    @include sm{
        margin-top: 0px !important;
        padding-bottom: 40px !important;
    }

.scroll-container {
    width: 100%;
    overflow: hidden; 
    background: linear-gradient(90deg, #262262 0%, #4e45c8 100%);
    white-space: nowrap; 
    padding: 30px 20px;
}

// .scroll-content {
//     display: inline-block; 
//     // animation: scroll-left 20s linear infinite; 
// }

.nav-item {
    white-space: nowrap;
    text-align: center;
    @include flex(row, center, center);
img{
    display: inline;
}
    &.style_1{
        font-weight: 700;
        font-size: 45px;
        color: $white;
        @include sm{
            font-size: 18px;
        }
    }
    &.style_2{
        font-weight: 700;
        font-size: 45px;
        @include sm{
            font-size: 18px;
        }
        color: transparent;
        -webkit-text-stroke: 1px white; 
        // text-stroke: 1px white; 
        letter-spacing: 2px

    }
    transition: background-color 0.3s ease;


    .icon {
        margin-right: 8px;
        @include sm{
            width: 26px;
            height: 26px;
            display: inline-block;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    
}

/* Keyframes for the scrolling animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%); 
    }
}
}
/*---Text Slider End---*/

/*---FAQ Start---*/
.faq_area{
    @include nesthub{
        margin-top: 44px !important;
    }
    @include sm{
        margin-top: 30px !important;
        .header_area{
            .heading{
                h2{
                    font-size: 18px !important;
                }
            }

        }
    }
    .row{
        &.style_1{
            @include nesthub{
                flex-direction: column;
            
                .col-lg-5{
                    width: 100% !important;
                }
                .col-lg-7{
                    width: 100% !important;
                    margin-top: 40px;
                }
            }
        }
    }
    .faq_image_area{
        height: 589px;
        @include flex(row, flex-start, flex-end);
        @include nesthub{
            justify-content: center;
        }
        @include md{
            height: 516px;
            justify-content: center;
        }
        @include sm{
            width: 100%;
            height: 210px;
            justify-content: center;
        }
    }
    .faq_image{
        width: 481px;
        height: 481px;
        @include border-radius(50%);
         background-color: rgba($primary, 0.2);
         position: relative;
         @include sm{
            width: 172px;
            height: 172px;
         }
        .image{
            margin-top: -30px;
            @include sm{
                height: 200px;
                width: 210px;
                img{
                    width: 100%;
                    height: 118%;
                    object-fit: contain;
                }
            }
             img{
            position: absolute;
            bottom: 0px;
            left: 50%;
            @include transformX(-50%);
            z-index: 10;
         }
         
        }
         &::after{
            content: "";
            border: 1px solid $primary;
            @include border-radius(50%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: -30px;
            left: 0px;
            @include sm{
                top: -10px;
            }
            
         }
        .vector1{
            position: absolute;
            top: -35px;
            right: 0px;
            @include sm{
                width: 35px;
                height: 35px;
                top: -13px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .vector3{
            position: absolute;
            bottom: 40px;
            left: -35px;
            @include sm{
                left: -8px;
                width: 35px;
                height: 35px;
                bottom: 11px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .vector4{
            position: absolute;
            bottom: 0px;
            right: 63px;
            @include sm{
                width: 34px;
                height: 46px;
                right: 24px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .vector2{
            position: absolute;
            top: 40px;
            left: -9px;
             animation: rotateCircle 35s ease-in-out infinite alternate;
    -webkit-animation: rotateCircle 35s ease-in-out infinite alternate;
            @include sm{
                top: 16px;
                left: -3px;
                width: 42px;
                height: 42px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .box1{
            width: 40px;
            height: 40px;
            @include border-radius(50%);
            background-color: $primary;
            position: absolute;
            left: -63px;
             animation: pulse 2s ease-in-out infinite alternate;
    -webkit-animation: pulse 2s ease-in-out infinite alternate;
            top: 170px;
            @include sm{
                width: 13px;
                height: 13px;
                top: 57px;
                left: -20px;
            }
        }
        .box2{
            width: 15px;
            height: 15px;
             animation: pulse 2s ease-in-out infinite alternate;
    -webkit-animation: pulse 2s ease-in-out infinite alternate;
            @include border-radius(50%);
            background-color: $primary;
            position: absolute;
            left: -51px;
            bottom: 176px;
            @include sm{
                width: 4px;
                height: 4px;
                left: -20px;
                bottom: 60px;
            }
        }
        .box3{
            width: 4px;
            height: 4px;
             animation: pulse 2s ease-in-out infinite alternate;
    -webkit-animation: pulse 2s ease-in-out infinite alternate;
            @include border-radius(50%);
            background-color: $primary;
            position: absolute;
            left: -21px;
            bottom: 143px;
            @include sm{
                width: 2px;
                height: 2px;
                left: -12px;
                bottom: 50px;
            }
        }
        .box4{
            width: 26px;
            height: 26px;
            @include border-radius(50%);
            background-color: $primary;
            position: absolute;
            top: 97px;
            right: -13px;
             animation: pulse 2s ease-in-out infinite alternate;
    -webkit-animation: pulse 2s ease-in-out infinite alternate;
            @include sm{
                width: 10px;
                height: 10px;
                top: 30px;
                right: -3px;
            }
        }
    }
.faq-section {
    width: 100%;
    @include sm{
        margin-top:26px;
    }
    @include nesthubmax{
        padding-left: 34px;
    }
}
.accordion {
    width: 100%;
    .accordion-item {
        border: 1px solid rgba(20, 20, 23, 0.1);
        border-radius: 6px;
        margin-bottom: 12px;
        @include sm{
            margin-bottom: 8px;
        }
        overflow: hidden; 
        &.active {
            .accordion-header {
                background: linear-gradient(180deg, #0ebef6 0%, #3171fb 100%);
                h3{
                    color: $white;
                }
                

                .icon {
                    transform: rotate(180deg); 
                    background-color: $white;
                }
            }
            .accordion-content {
                height: auto; 
            }
        }
    }

    .accordion-header {
        @include flex(row, space-between, center);
        padding: 10px 30px;
        @include sm{
            padding: 4px 15px;
        }
        cursor: pointer;
         transition: background 0.3s ease;
        h3{
            font-weight: 600;
            font-size: 18px;
            @include sm{
                font-size: 8px;
            }
            color: #181818;
        }


        &:hover {
            background-color: #f0f0f0;
        }

        .icon {
            width: 32px;
            height: 32px;
            line-height: 32px;
            @include sm{
                width: 14px;
                height: 14px;
                line-height: 13px;
                font-size: 8px;
            }
            text-align: center;
            @include border-radius(50%);
            border: 1px solid $gray2;
            background-color: #f3f9ff;
            transition: transform 0.3s ease;
            box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
        }
    }

    .accordion-content {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-out, padding 0.5s ease-out;
p{
            padding: 21px 30px 20px 30px;
            margin: 0; 
            font-weight: 400;
            font-size: 18px;
            @include sm{
                font-size: 8px;
                padding: 10px;
            }
            color: $gray8;
        }
    }
}
}
/*---FAQ End---*/






