.funder_story{
    background: linear-gradient(90deg, #262262 0%, #4e45c8 100%);
    position: relative;
   .header_area{
    padding-left: 153px;
   }
    .title{
        h4{
            font-weight: 600;
            font-size: 18px;
            color: $white;
        }
    }
    .funder_story_wrapper{
        position: relative;
        width: 100%;
        height: 754px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .funder_card_wrapper{
        border: 1px solid rgba(193, 193, 193, 0.2);
        border-radius: 0 20px 0 0;
        background: #f9faff;
        padding: 42px 0px;
        position: absolute;
        @include flex(row, center, center);
        bottom: 0px;
        left: 0px;
        .funder_card{
            padding: 0px 80px;
            &.style_1{
                border-right: 1px solid $gray9;
            }
            h4{
                font-weight: 600;
                font-size: 40px;
                color: #000;
            }
            p{
                font-weight: 600;
                font-size: 18px;
                color: #000;
            }
        }
    }

    
}