/*---Trusted By Leaders Start---*/
.trusted_leaders{
    overflow: hidden;
    background-color: $gray9;
    height: 90vh;
    @include flex(row, center, center);
    .trusted_wrapper{
        height: 640px;
        position: relative;
        background: #2e2b4f;
        padding: 102px 0px 110px 97px;
        @include border-radius(10px);
        @include sm{
            border-radius: 0 0 10px 0;
            width: 100%;
            height: 610px;
            padding: 15px;
        }
    }
    .btn_area{
        @include flex(row, flex-start, center);
        gap: 20px;

    }
    .trusted_image_area{
        width: 727px;
        position: absolute;
        height: 579px;
        bottom: 0px;
        right: 0px;
        @include sm{
            width: 100%;
            height: 265px;
            bottom: 0px;
            left: -33px !important;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include border-radius(0px 0px 20px 0px);
        }
    }
    .bg_gradient{
        background:linear-gradient(134deg, #12b4f6 0%, #3074fb 100%);;
        filter: blur(133px);
        width: 259px;
        height: 373px;
        margin-top: 50px;
        @include sm{
            width: 163px;
            height: 133px;
        }
    }
    .social_area{
        border-radius: 5px;
        background-color: $gray9;
        padding: 20px;
        position: absolute;
        top: 43%;
        @include transformY(-50%);
        right: 8%;
        max-width: 170px;
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: 14px;
        span{
            width: 34px;
            display: block;
            height: 34px;
            line-height: 34px;
            text-align: center;
            @include border-radius(5px);
            background-color: $white;
            
        }
    }
}
/*---Trusted By Leaders End---*/

/*---The Problem Start---*/
.the_problem{
    .problem_images{
        position: relative;
        width: 100%;
        .problem_main_img{
            width: 664px;
            height: 476px;
            @include sm{
                width: 100%;
                height: fit-content

            }
            @include border-radius(20px);
            img{
                width: 100%;
                height: 100%;
                @include border-radius(20px);
                object-fit: cover;
            }
        }
        .problem_child_img{
            position: absolute;
            top: -57px;
            right: 14px;
            border-radius: 20px;
            width: 210px;
            height: 182px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include border-radius(20px);
            }
        }
        .graduatesplaced{
            max-width: 300px;
            @include border-radius(10px);
            padding: 20px 20px 20px 30px;
            box-shadow: 0 20px 40px 0 rgba(23, 22, 28, 0.2);
            background: $white;
            position: absolute;
            top: -57px;
            
            left: 0px;
            span{
                border: 2px solid $white;
                border-radius: 38px;
                width: 40px;
                height: 40px;
                display: inline-block;
            }
            h4{
                font-weight: 400;
                font-size: 18px;
                color: $gray8;
                span{
                    font-weight: 700;
                    font-size: 24px;
                    color: $primary;
                    margin-right: 20px;
                }
            }
        }
        .graduate_profile{
            position: relative;
            span{
                &:nth-child(2){
                    position: absolute;
                    left: 28px;
                }
                &:nth-child(3){
                    position: absolute;
                    left: 58px;
                }
                &:nth-child(4){
                    position: absolute;
                    left: 88px;
                }
                &:nth-child(5){
                    position: absolute;
                    left: 118px;
                }
                &:nth-child(6){
                    position: absolute;
                    left: 148px;
                }
                    
            }
        }
    }
    .describtion_highlight{
        padding: 20px 30px;
        @include border-radius(10px);
        border: 1px solid #ececec;
        background-color: $gray1;
        p{
            font-weight: 400;
            font-size: 18px;
            color: $gray9;
            padding-left: 20px;
            border-left: 2px solid $primary;
        }
    }
}
/*---The Problem End---*/

/*---Who We Are Start---*/
.who_we{
    .about_list{
        ul{
            li{
                font-weight: 600;
                font-size: 18px;
                color:  $gray9;
                margin-bottom: 17px;
                span{
                    margin-right: 16px;
                }
            }
        }
    }
    .who_we_images{
        @include flex(row, flex-end, flex-end);
        &.style_1{
            justify-content: center;
            position: relative;
            .who_main_image{
                height: 539px !important;
                width: 516px !important;
            }
            .objects{
                border: 1px solid rgba(193, 193, 193, 0.2);
                border-radius: 20px;
                padding: 30px;
                background: #f9faff;
                position: absolute;
                top: 50%;
                @include transformY(-50%);
                right: 0px;
            }
        }
        position: relative;
        .who_main_image{
            width: 407px;
            height: 407px;
            @include border-radius(20px);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include border-radius(20px);
            }
        }
        .child_image{
            position: absolute;
            bottom: 0px;
            left: 0px;

        }
    }
}
/*---Who We Are End---*/

/*---The Plan Start---*/
.certification-process {
    border: 1px solid $gray2;
    @include border-radius(14px);
    padding: 0px;
    .process-steps-container { 
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0px;
            left: 41px;
            width: 1px;
            height: 100%;
            background-color: $gray2;
        }
    }
    
    .process-step {
        &.style_1{
                @include border-radius(14px 14px 0px 0px);
            }
        &.style_2{
                @include border-radius(14px 14px 0px 0px);
            }
        border-radius: 0; 
        margin-bottom: 0; 
        overflow: hidden;
        background-color: #fff;
    
        &.active {
            .step-header {
                background-color: $white;
            }
        }
    
        .step-header {
           
            display: flex;
            align-items: center;
            padding: 15px 20px;
            border-bottom: 1px solid $gray2;
            cursor: pointer;
            background-color: #fff;
            transition: background-color 0.3s ease;
    
            .step-number {
                font-weight: 700;
                //  position: relative;/
            z-index: 2;
                font-size: 18px;
                color: $gray8;
                letter-spacing: 0.01em;
                text-align: center;
                width: 44px;
                height: 44px;
                line-height: 44px;
                @include border-radius(50%);
                border: 1px solid $gray2;
                box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
                background: #f3f9ff;
            }
    
            .step-title {
                margin: 0;
                flex-grow: 1;
                font-weight: 500;
                font-size: 24px;
                text-transform: capitalize;
                color: #141417;
                margin-left: 16px;
            }
    
            .arrow-icon {
                font-size: 1em;
                color: $primary;
              
            }
        }
    
        .step-content {
            display: none; 
            padding: 42px 42px 42px 84px;
            border-bottom: 1px solid $gray2;
            .content-box {
                padding: 60px 100px;
                background-color: #f3f9ff;
                border: 1px solid $gray2;
                border-radius: 14px;
                @include flex(row, flex-start, center);
                gap: 125px;
    
                @media (max-width: 600px) {
                    flex-direction: column; 
                }
    
                .image-placeholder {
                    flex-shrink: 0; 
                    width: 40%; 
                    max-width: 250px; 
    
                    img {
                        width: 100%;
                        height: auto;
                        display: block; 
                    }
    
                    @media (max-width: 600px) {
                        width: 100%;
                        max-width: none; 
                        margin-bottom: 15px;
                    }
                }
    
                .text-content {
                    flex-grow: 1;
    
                    .step-heading {
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: 0.01em;
                        border: 1px solid $gray2;
                        border-radius: 4px;
                        padding: 4px 16px;
                        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
                        background: $white;
                        color: $gray9;
                        display: inline-block;
                    }
    
                    h4 {
                        font-weight: 500;
                        font-size: 24px;
                        color: #141417;
                        margin-top: 18px;
                    }
    
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        color: $gray8;
                        margin-top: 16px;
                    }
                }
            }
        }
    
        &.active .step-content {
            display: block; 
        }
    
      
    }
}
/*---The Plan End---*/

/*---For Business Owners Start---*/
.business_owners{
    .business_card{
        max-width: 610px;
        border: 1px solid $gray2;
        border-radius: 5px;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
        background:  $white;
        padding: 55px 100px;
        margin-left: 41px;
        position: relative;
        .icon{
            position: absolute;
            top: 50%;
            @include transformY(-50%);
            left: -41px;
            span{
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                background: linear-gradient(90deg, #2981fa 0%, #18a7f7 100%);
                @include border-radius(5px);
                display: inline-block;
            }
        }
        h4{
            font-weight: 600;
            font-size: 24px;
            color: #141417;
        }
    }
    .business_image{
        position: relative;
        @include flex(row, flex-start, flex-end);
        .business_main_img{
            position: relative;
            width: 633px;
            height: 699px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .border_line{
        border: 2px solid $primary;
        border-radius: 5px;
        width: 579px;
        height: 628px;
        position: absolute;
        top: -45px;
        z-index: -1;
        right: 0px;
        .vector{
            position: absolute;
            top: -87px;
            right: -75px;
        }
    }
    .btn_area{
        position: absolute;
        bottom: 53px;
        left: 30px;
        a{
            font-weight: 400;
            font-size: 18px;
            padding: 24px 31px;
            color: $white;
            @include border-radius(5px);
            background: linear-gradient(90deg, #262262 0%, #4e45c8 100%);
            span{
                margin-left: 10px;
            }
        }
    }
}
/*---For Business Owners End---*/

/*---Clients Reviews Start---*/
.clients_reviews{
    .left-arrow{
        border-radius: 100px;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        box-shadow: 0 4px 20px 0 rgba(20, 20, 23, 0.2);
        background: $white;
        @include border-radius(50%);
        display: inline-block;
        position: absolute;
        top: 50%;
        left: -51px;
        @include transformY(-50%);
        cursor: pointer;
        @include transition(0.4s);
        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
    .right-arrow{
        border-radius: 100px;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        box-shadow: 0 4px 20px 0 rgba(20, 20, 23, 0.2);
        background: $white;
        @include border-radius(50%);
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -51px;
        @include transformY(-50%);
        cursor: pointer;
        @include transition(0.4s);
        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
    .review_dots{
        @include flex(row, center, center);
        gap: 5px;
        z-index: 110;
        position: absolute;
        background: #3c3865;
        border-radius: 40px;
        width: 194px;
        height: 50px;
        bottom: -103px;
        left: 50%;
        @include transformX(-50%);
        @include sm{
            visibility: hidden;
            opacity: 0;
        }
        li{
            height: 100%;
            @include flex(row, center, center);
            margin: 0px 10px;
            
        }
        button{
            width: 6px;
            height: 6px;
            color: transparent;
            border: none;
            background-color: $white;
            @include transition(0.5s);
            @include border-radius(30px);
        }
        .slick-active{
            // li{
            //     padding: 10px;
            // @include border-radius(50%);
            // border: 1px solid $gray2;
            // }
            button{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform(-50%, -50%);
                    width: 26px;
                    height: 26px;
                    @include border-radius(50%);
                    border: 1px solid $gray2;
                }
            }
        }
    

}
    .slick-slide{
        margin: 0px 10px;
    }
    position: relative;
    svg{
        overflow: hidden;
        position: absolute;
        top: 50%;
        @include transformY(-50%);
        right: -50px;
    }
    position: relative;
    height: 770px;
    background-color: $gray9;
    @include flex(row, center, center);
    .vector_area{
        position: absolute;
        bottom: 0px;
        left: 0px;
        pointer-events: none;
    }
    .vector_two{
        position: absolute;
        top: 0px;
        right: 0px;
        pointer-events: none;
    }
    // .clients_review_wrapper{
    //     @include flex(row, flex-end, center);
    // }
    .clients_review_wrapper{
        position: relative;
    }
    .clients_review_slider{
        max-width: 770px;
        margin-left: 140px;

    }
    .review_card{
        padding: 64px 40px 63px 54px;
        border-radius: 40px;
        width: 770px;
        height: 410px;
        background: #2e2b4f;
        .star{
            padding: 7px 14px;
            border: 1px solid rgba(255, 255, 255, 0.14);
            border-radius: 6px;
            display: inline-block;
            span{
                color: #f7931a;
            }
        }
    }
    .user_meta_info{
        @include flex(row, flex-start, center);
        gap: 37px;
        .profile{
            width: 74px;
            @include border-radius(50%);
            height: 74px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include border-radius(50%);
            }
        }
        .profile_area{
            position: relative;
        }
        .profile_icon{
            position: absolute;
            bottom: 10px;
            width: 40px;
            height: 40px;
            left: 60px;
            line-height: 40px;
            @include flex(row, center, center);
            text-align: center;
            @include border-radius(50%);
            border-left: 2px solid #2e2b4f;
            background-color: $white;
            img{
              width: 20px;
              height: 20px;
               object-fit: contain;
            }

        }
        h5{
            font-weight: 500;
            font-size: 22px;
            color: $white;
        }
        p{
            font-weight: 500;
            font-size: 16px;
            text-transform: capitalize;
            color: $white;
        }
    }
}
/*---Clients Reviews End---*/

/*---The Certification Start---*/
.the_certification{
    .list_certification{
        ul{
            @include flex(row, space-between, center);
            flex-wrap: wrap;
            gap: 26px;
            margin: 0px;
            padding: 0px;
            li{
                width: calc(50% - 15px);
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.01em;
                color: $gray9;
                span{
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-right: 9px;
                    line-height: 24px;
                    text-align: center;
                    background-color: #141417;
                    @include border-radius(50%);
                    color: $white;
                    font-size: 12px;
                }
            }
        }
    }
    .certificate_image{
        width: 100%;

    }
    .certification_image{
        width: 560px;
        height: 446px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
/*---The Certification End---*/

/*---verified_talent Start---*/
.verified_talent{
    .talent_image{
        max-width: 675px;
        width: 100%;
        height: 579px;
        @include border-radius(20px);
        img{
            width: 100%;
            height: 100%;
            @include border-radius(20px);
            object-fit: cover;
        }
        @include sm{
            border-radius: 5px;
            @include border-radius(5px);
            max-width: 342px;
            width: 100%;
            height: 293px;
            img{
                @include border-radius(5px);

            }
        }
    }
.accordion-container {
    width: 100%;
    background-color: #f3f9ff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.accordion-item {
    border-radius: 14px;
    width: 100%;
    border: 1px solid $gray2;
    overflow: hidden;
    &.style_1{
        border-bottom: 1px solid $gray2;
        .accordion-header{
            padding: 24px 40px 24px 40px;
        }
    }
    &:last-child {
        border-bottom: none;
    }
    &.active {
        .number {
        color: $white;
    }
        .accordion-header {
            background: linear-gradient(to right, #007bff, #00c6ff);
            color: #fff;
            
        }
        .accordion-content {
            max-height: 500px;
            p{
                background: linear-gradient(to right, #007bff, #00c6ff);
            color: #fff;
            }
        }
    }
}
.accordion-header {
    display: flex;
    align-items: center;
    padding: 24px 40px 8px 40px;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    color: $gray9;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
    .number {
        margin-right: 15px;
        transition: color 0.3s ease;
        font-weight: 600;
        font-size: 44px;
        text-transform: capitalize;
        color: #a9bdd0;
    }
    .arrow-icon {
        border-radius: 100%;
        background-color: $white;
        border: 1px solid $gray2;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
        margin-left: auto;
        color: #141417;
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        
        text-align: center;
        font-size: 0.8em;
        transition: transform 0.3s ease;
    }
    .accordion-item.active & {
        .number {
            color: #fff;
        }
    }
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
        p{
        padding: 0 58px 38px 44px; 
        font-weight: 400;
        font-size: 16px;
        color: $gray9;
        letter-spacing: 0.01em;
    }
}
}
/*---verified_talent End---*/

/*---Text Slider Start---*/
.text_slider{

.scroll-container {

    width: 100%;
    overflow: hidden; 
    background: linear-gradient(90deg, #262262 0%, #4e45c8 100%);
    white-space: nowrap; 
    padding: 30px 20px;
}

.scroll-content {
    display: inline-block; 
    animation: scroll-left 20s linear infinite; 
}

.nav-item {
    display: inline-block;
    margin: 0px 20px;
    &.style_1{
        font-weight: 700;
        font-size: 45px;
        color: $white;
    }
    &.style_2{
        font-weight: 700;
        font-size: 45px;
        color: transparent;
        -webkit-text-stroke: 1px white; 
        // text-stroke: 1px white; 
        letter-spacing: 2px

    }
    transition: background-color 0.3s ease;

    // &:hover {
    //     background-color: rgba(255, 255, 255, 0.2);
    // }

    .icon {
        margin-right: 8px;
    }
}

/* Keyframes for the scrolling animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%); 
    }
}
}
/*---Text Slider End---*/

/*---FAQ Start---*/
.faq_area{
    .faq_image_area{
        height: 589px;
        @include flex(row, flex-start, flex-end)
    }
    .faq_image{
        width: 481px;
        height: 481px;
        @include border-radius(50%);
         background-color: rgba($primary, 0.2);
         position: relative;
        .image{
             img{
            position: absolute;
            bottom: 0px;
            left: 50%;
            @include transformX(-50%);
            z-index: 10;
         }
        }
         &::after{
            content: "";
            border: 1px solid $primary;
            @include border-radius(50%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: -30px;
            left: 0px;
            
         }
        .vector1{
            position: absolute;
            top: -35px;
            right: 0px;
        }
        .vector3{
            position: absolute;
            bottom: 40px;
            left: -35px;
        }
        .vector2{
            position: absolute;
            top: 40px;
            left: -9px;
        }
        .box1{
            width: 40px;
            height: 40px;
            @include border-radius(50%);
            background-color: $primary;
            position: absolute;
            left: -63px;
            top: 170px;
        }
        .box2{
            width: 15px;
            height: 15px;
            @include border-radius(50%);
            background-color: $primary;
            position: absolute;
            left: -51px;
            bottom: 176px;
        }
        .box3{
            width: 4px;
            height: 4px;
            @include border-radius(50%);
            background-color: $primary;
            position: absolute;
            left: -21px;
            bottom: 143px;
        }
        .box4{
            width: 26px;
            height: 26px;
            @include border-radius(50%);
            background-color: $primary;
            position: absolute;
            top: 97px;
            right: -13px;
        }
    }
.faq-section {
    width: 100%;
}
.accordion {
    width: 100%;
    .accordion-item {
        border: 1px solid rgba(20, 20, 23, 0.1);
        border-radius: 6px;
        margin-bottom: 12px;
        overflow: hidden; 
        &.active {
            .accordion-header {
                background: linear-gradient(180deg, #0ebef6 0%, #3171fb 100%);
                h3{
                    color: $white;
                }
                

                .icon {
                    transform: rotate(180deg); 
                    background-color: $white;
                }
            }
            .accordion-content {
                max-height: 200px; 
                opacity: 1;
                visibility: visible;
                transition: max-height 0.3s ease-out, padding 0.3s ease-out, opacity 0.3s ease-out;
            }
        }
    }

    .accordion-header {
        @include flex(row, space-between, center);
        padding: 10px 30px;
        cursor: pointer;
        h3{
            font-weight: 600;
            font-size: 18px;
            color: #181818;
        }


        &:hover {
            background-color: #f0f0f0;
        }

        .icon {
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            @include border-radius(50%);
            border: 1px solid $gray2;
            background-color: #f3f9ff;
            transition: transform 0.3s ease;
            box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
        }
    }

    .accordion-content {
        max-height: 0; 
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.3s ease-in, padding 0.3s ease-in, opacity 0.3s ease-in;

        p {
            padding: 21px 30px 20px 30px;
            margin: 0; 
            font-weight: 400;
            font-size: 18px;
            color: $gray8;
        }
    }
}
}
/*---FAQ End---*/






